<h3>Производи</h3>

<form name="myForm">
    <div class="mb-3">
      <label for="ime" class="form-label">ime</label>
      <input type="text" class="form-control" placeholder="Enter ime"  id="ime" name="ime">
    </div>
    <div class="mb-3">
      <label for="tip" class="form-label">tip</label>
      <input type="text" class="form-control"  placeholder="Enter tip"  id="tip" name="tip">
    </div>
    <div class="mb-3">
        <label for="cena" class="form-label">cena</label>
        <input type="number" class="form-control"  placeholder="Enter cena"  id="cena" name="cena">
    </div>
    <div class="mb-3">
        <label for="datum_priem" class="form-label">datum_priem</label>
        <input type="datetime-local" class="form-control"  placeholder="Enter datum_priem"  id="datum_priem" name="datum_priem">
    </div>
    <button type="button" class="btn btn-primary">Save</button>
  </form>