<h3>Вработени</h3>

<form name="myForm">
    <div class="mb-3">
      <label for="ime" class="form-label">ime</label>
      <input type="text" class="form-control" placeholder="Enter ime"  id="ime" name="ime">
    </div>
    <div class="mb-3">
      <label for="prezime" class="form-label">telefon</label>
      <input type="text" class="form-control"  placeholder="Enter prezime"  id="prezime" name="prezime">
    </div>
    <div class="mb-3">
        <label for="grad" class="form-label">grad</label>
        <input type="text" class="form-control"  placeholder="Enter grad"  id="grad" name="grad">
    </div>
    <div class="mb-3">
        <label for="plata" class="form-label">plata</label>
        <input type="number" class="form-control"  placeholder="Enter plata"  id="plata" name="plata">
      </div>
    <button type="button" class="btn btn-primary">Save</button>
  </form>