
<br><br><br><br><br><br><br><br><br><br><br>
<div class="alert alert-danger" ng-show="error_alert">Attention enter correct data!!!</div>
<div class="alert alert-success" ng-show="success_alert">Successfully entered data!!!</div>


<div class="mt-5 mx-3 px-3 py-3  myBorderDetails myGreenColor">
  <h1 class="text-center">Enter your Worker of the day</h1>
  <form name="myForm">
    <div class="mb-3 mt-3">
      <label for="datum" class="form-label">Date</label>
      <span class="alert alert-danger" ng-show="myForm.datum.$invalid">Enter valid date !!!</span>
      <input type="date" class="form-control" placeholder="Enter datum"  id="datum" name="datum" ng-model="datum" placeholder="yyyy-MM-dd" min="2000-12-31" max="2222-12-31">
    </div>
    <div class="mb-3">
      <label for="smena" class="form-label">Shift</label>
        <select class="form-control" name="smena" id="smena" ng-model="smena">
          <option value="">Choose option</option>
          <option name="smena" id="smena" ng-model="smena">prva</option>
          <option name="smena" id="smena" ng-model="smena">vtora</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="dukani_id" class="form-label">Shop ID</label>
                <select class="form-control" id="dukani_id" name="dukani_id" ng-model="dukani_id">
                    <option value="">Choose option</option>
                    <option ng-repeat="dukan in dukani" value="{{dukan.dukani_id}}">
                      {{dukan.adresa}} -- {{dukan.grad}} -- {{dukan.telefon}}
                    </option>
                </select>
    </div>
    <div class="mb-3">
        <label for="vraboteni_id" class="form-label">Employees ID</label>    
                <select class="form-control"  id="vraboteni_id" name="vraboteni_id" ng-model="vraboteni_id">
                    <option value="">Choose option</option>
                    <option ng-repeat="vraboten in vraboteni" value="{{vraboten.vraboteni_id}}">
                      {{vraboten.ime}} -- {{vraboten.prezime}} -- {{vraboten.grad}}
                    </option>
                </select>
    </div>
      <button type="button" class="btn btn-light" ng-click="myForm.datum.$valid ? function_rabotnik(datum,smena,dukani_id,vraboteni_id) : erorr()">Save</button>
  </form>
</div>
<br><br><br><br><br><br>
