<h3>Дукани</h3>

<form name="myForm">
    <div class="mb-3">
      <label for="adresa" class="form-label">adresa</label>
      <input type="text" class="form-control" placeholder="Enter adresa"  id="adresa" name="adresa">
    </div>
    <div class="mb-3">
      <label for="telefon" class="form-label">telefon</label>
      <input type="number" class="form-control"  placeholder="Enter telefon"  id="telefon" name="telefon">
    </div>
    <div class="mb-3">
        <label for="grad" class="form-label">grad</label>
        <input type="text" class="form-control"  placeholder="Enter grad"  id="grad" name="grad">
    </div>
    <button type="button" class="btn btn-primary">Save</button>
  </form>