<h3>Продажба</h3>

<form name="myForm">
    <div class="mb-3">
      <label for="prodazba_datum" class="form-label">prodazba_datum</label>
      <input type="date" class="form-control"  placeholder="Enter prodazba_datum"  id="prodazba_datum" name="prodazba_datum">
    </div>
    <div class="mb-3">
        <label for="promet" class="form-label">promet</label>
        <input type="number" class="form-control"  placeholder="Enter promet"  id="promet" name="promet">
    </div>
    <div class="mb-3">
        <label for="prodadeno_kg" class="form-label">prodadeno_kg</label>
        <input type="number" class="form-control" placeholder="Enter prodadeno_kg"  id="prodadeno_kg" name="prodadeno_kg">
      </div>
      <div class="mb-3">
        <label for="telefon" class="form-label">rasipano_kg</label>
        <input type="number" class="form-control"  placeholder="Enter telefon"  id="telefon" name="telefon">
      </div>
      <div class="mb-3">
          <label for="rabotnik_id" class="form-label">rabotnik_id</label>
          <input type="number" class="form-control"  placeholder="Enter rabotnik_id"  id="rabotnik_id" name="rabotnik_id">
      </div>
    <button type="button" class="btn btn-primary">Save</button>
  </form>