<br><br><br>
<div class="mt-5 mx-3 px-3 py-3  myBorderDetails myGreenColor">
  <h1 class="text-center">Enter your Shop</h1>
  <form name="myForm">
      <div class="mb-3 ">
        <label for="adresa" class="form-label">Adress</label>
        <input type="text" class="form-control" placeholder="Enter adress"  id="adresa" name="adresa">
      </div>
      <div class="mb-3">
        <label for="telefon" class="form-label">Phone</label>
        <input type="number" class="form-control"  placeholder="Enter phone"  id="telefon" name="telefon">
      </div>
      <div class="mb-3">
          <label for="grad" class="form-label">City</label>
          <input type="text" class="form-control"  placeholder="Enter City"  id="grad" name="grad">
      </div>
      <button type="button" class="btn btn-light">Save</button>
  </form>
</div>
