
<br><br><br>
<div class="mt-5 mx-3 px-3 py-3  myBorderDetails myGreenColor">
  <h1 class="text-center">Enter your Worker of the day</h1>
  <form name="myForm">
    <div class="mb-3 mt-3">
      <label for="datum" class="form-label">Date</label>
      <input type="date" class="form-control" placeholder="Enter datum"  id="datum" name="datum">
    </div>
    <div class="mb-3">
      <label for="smena" class="form-label">Shift</label>
      <input type="text" class="form-control"  placeholder="Enter smena"  id="smena" name="smena">
    </div>
    <div class="mb-3">
        <label for="dukani_id" class="form-label">Shop ID</label>
        <input type="number" class="form-control"  placeholder="Enter dukani_id"  id="dukani_id" name="dukani_id">
    </div>
    <div class="mb-3">
        <label for="vraboteni_id" class="form-label">Employees ID</label>
        <input type="number" class="form-control"  placeholder="Enter vraboteni_id"  id="vraboteni_id" name="vraboteni_id">
    </div>
      <button type="button" class="btn btn-light">Save</button>
  </form>
</div>
<br><br><br><br><br><br>
