<div class="table-responsive myBorderDetails myGreenColor myMargin">
   
    <table class="table table-striped">
        <h3 class="text-center">Worker</h3>
        <thead>
            <tr>
                <th>Worker ID</th>
                <th>
                    Date
                    <input class="form-control" type="text" name="searchByDateOfWorker" id="searchByDateOfWorker" ng-model="searchByDateOfWorker" placeholder="Search by Worker ID">
                </th>
                <th>
                    Shift
                    <select class="form-control" name="searchByShiftOfWorker" id="searchByShiftOfWorker" ng-model="searchByShiftOfWorker">
                        <option value="">Choose option</option>
                        <option>prva</option>
                        <option >vtora</option>
                    </select>
                </th>
                <th>
                    Shop ID
                    <select class="form-control" id="searchByShopIdOfWorker" name="searchByShopIdOfWorker" ng-model="searchByShopIdOfWorker">
                        <option value="">Choose option</option>
                        <option ng-repeat="dukan in dukani" value="{{dukan.dukani_id}}" >
                            {{dukan.dukani_id}} -- {{dukan.adresa}} -- {{dukan.grad}}
                        </option>
                    </select>
                </th>
                <th>
                    Employees ID
                   <!--<input class="form-control" type="number" name="searchByEmployeesIdOfWorker" id="searchByEmployeesIdOfWorker" ng-model="searchByEmployeesIdOfWorker" placeholder="Search by Employees ID">-->
                    <select class="form-control" id="searchByEmployeesIdOfWorker" name="searchByEmployeesIdOfWorker" ng-model="searchByEmployeesIdOfWorker">
                        <option value="">Choose option</option>
                        <option ng-repeat="vraboten in vraboteni" value="{{vraboten.vraboteni_id}}" >
                            {{vraboten.vraboteni_id}} -- {{vraboten.ime}} {{vraboten.prezime}} -- {{vraboten.grad}}
                        </option>
                    </select>
                </th>
                <th><i class="fa-solid fa-pen"></i>Edit</th>
                <th><i class="fa-solid fa-trash-can"></i>Delete</th>
            </tr>
        </thead>
        <tbody class="text-light">
            <tr ng-repeat="rabotnici in rabotnik | filter:{datum:searchByDateOfWorker,smena:searchByShiftOfWorker,dukani_id:searchByShopIdOfWorker,vraboteni_id:searchByEmployeesIdOfWorker}">
                <td>{{rabotnici.rabotnik_id}}</td>
                <td>{{rabotnici.datum}}</td>
                <td>{{rabotnici.smena}}</td>
                <td>{{rabotnici.dukani_id}} -- {{rabotnici.adresa}} -- {{rabotnici.grad}} -- {{rabotnici.telefon}}</td>
                <td>{{rabotnici.vraboteni_id}} -- {{rabotnici.ime}} {{rabotnici.prezime}} -- {{rabotnici.grad}}</td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{rabotnici.rabotnik_id}} -- {{rabotnici.datum}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
             </tr>
         </tbody>
 
     </table>
 </div>
 
 
 <!-- The Modal -->
 <div class="modal" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
   
         <!-- Modal Header -->
         <div class="modal-header myBtn">
           <h4 class="modal-title">Attention!!!</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>
   
         <!-- Modal body -->
         <div class="modal-body myBtn">
            Are you sure you want to delete the worker {{rabotnik[getIndex].ime}} {{rabotnik[getIndex].prezime}} on {{rabotnik[getIndex].datum}}???
         </div>
   
         <!-- Modal footer -->
         <div class="modal-footer bg-light">
           <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('rabotnik',rabotnik[getIndex].rabotnik_id)">Yes</button>
           <button type="button" class="btn myBtn" data-bs-dismiss="modal">Back</button>
           
         </div>
   
       </div>
     </div>
   </div>