<div class="table-responsive myBorderDetails myGreenColor myMargin">
   
    <table class="table table-striped">
        <h3 class="text-center">Employees</h3>
        <thead>
            <tr>
                <th>Employees ID</th>
                <th>
                    Name
                    <input class="form-control" type="text" name="searchByNameOfEmployees" id="searchByNameOfEmployees" ng-model="searchByNameOfEmployees" placeholder="Search by name">
                </th>
                <th>
                    Lastname
                    <input class="form-control" type="text" name="searchByLastnameOfEmployees" id="searchByLastnameOfEmployees" ng-model="searchByLastnameOfEmployees" placeholder="Search by lastname">
                </th>
                <th>
                    City
                    <input class="form-control" type="text" name="searchByCityOfEmployees" id="searchByCityOfEmployees" ng-model="searchByCityOfEmployees" placeholder="Search by city">
                </th>
                <th>
                    Salary
                    <input class="form-control" type="number" name="searchBySalaryOfEmployees" id="searchBySalaryOfEmployees" ng-model="searchBySalaryOfEmployees" placeholder="Search by price">
                </th>
                <th></th>
                <th><i class="fa-solid fa-pen"></i>Edit</th>
                <th><i class="fa-solid fa-trash-can"></i>Delete</th>
            </tr>
        </thead>
        <tbody class="text-light">
            <tr ng-repeat="vraboten in vraboteni | filter:{ime:searchByNameOfEmployees,prezime:searchByLastnameOfEmployees,grad:searchByCityOfEmployees,plata:searchBySalaryOfEmployees}">
                <td>{{vraboten.vraboteni_id}}</td>
                <td>{{vraboten.ime}}</td>
                <td>{{vraboten.prezime}}</td>
                <td>{{vraboten.grad}}</td>
                <td>{{vraboten.plata}}</td>
                <td><img class="rounded" width="100" height="100" src="uploads/vraboteni/{{vraboten.vraboteni_img_path}}" alt="{{vraboten.vraboteni_img_path}}"></td>
                <td title="Edit"><i class="fa-solid fa-pen"></i></td>
                <td title="Delete {{vraboten.proizvodi_id}} -- {{vraboten.ime}} {{vraboten.prezime}}">
                    <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#myModal" ng-click="passPosition($index)"> <i class="fa-solid fa-trash-can"></i></button>
                </td>
             </tr>
         </tbody>
 
     </table>
 </div>
 
 
 <!-- The Modal -->
 <div class="modal" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
   
         <!-- Modal Header -->
         <div class="modal-header myBtn">
           <h4 class="modal-title">Attention!!!</h4>
           <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>
   
         <!-- Modal body -->
         <div class="modal-body myBtn">
            Are you sure you want to delete the Employees {{vraboteni[getIndex].ime}} {{vraboteni[getIndex].prezime}} ???
         </div>
   
         <!-- Modal footer -->
         <div class="modal-footer bg-light">
           <button type="button" class="btn myBtn" data-bs-dismiss="modal" ng-click="deleteRow('vraboteni',vraboteni[getIndex].vraboteni_id)">Yes</button>
           <button type="button" class="btn myBtn" data-bs-dismiss="modal">Back</button>
           
         </div>
   
       </div>
     </div>
   </div>