<h3>Вработени</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>dres_id</th>
            <th>ime</th>
            <th>prezime</th>
            <th>pozicija</th>
            <th>godini</th>
            <th>plata_denari</th>
            <th>income_id</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mice</td>
            <td>Dimov</td>
            <td>Goalkeeper</td>
            <td>1997</td>
            <td>100000.000000</td>
            <td>03</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>